 /* for mobile size screen */
 header {
   display: grid; 
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
 }
 nav {
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr; 
   grid-column: 1 / 2; 
 }
 #nav {  
   display: grid; 
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   grid-row: 1 / 2;
   grid-column: 1 / 2; 
   padding: 10px; 
   background-color: #FFC65C;
   font-family: 'Lexend Zetta', sans-serif;
   color: teal; 
   border-color: teal;
   border: solid; 
   list-style-type: none;
   position: fixed;
   height: 20px; 
}
footer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
}
.logo {
   display: flex; 
   flex-direction: row;
   justify-content: center;
   align-items: center; 
   width: 100%;
   margin: auto; 
   padding-top: 20px;
 }
h1 {
   font-family:'Lexend Zetta', sans-serif;
   text-align: center;
   color: teal; 
   margin: 10px;
   padding-bottom: 10pt;
 }
 .movie {
   padding: 10px; 
   padding-bottom: 30px;
   display: flex;
   flex-direction: row; 
   justify-content: center; 
   align-items: center; 
   width: 400px; 
   height: 250px; 
   margin: auto; 
 }
 .services {
   list-style-type: none;
   font-family: 'Lexend Zetta', sans-serif;
   text-align: center;
   font-size: 20pt;
   color: teal; 
   padding: 15pt; 
   margin: 10pt; 
 }
 .boxes {
   border: solid;
   list-style-type: none;
 }
 .sunset {
   margin: 10px; 
   text-align: center;
   width: 100%; 
   padding-top: 30px;
 }
 .sail {
   width: 100%; 
   margin: 10px; 
   text-align: center;
 }
 .beach {
   width: 100%; 
   margin: 10px; 
   text-align: center;
   height: 200px;
 }
 p {
   font-family: 'Lexend Zetta', sans-serif;
   margin: 10px; 
   text-align: center;
   color: teal;
   font-size: 2em; 
   padding: 20px; 
 }
 .table, tr, td {
   border: 10px solid; 
   text-align: center;
   margin: auto;
   font-family: 'Lexend Zetta', sans-serif;
   border-color: teal;
 }
 h3 {
   font-family: 'Lexend Zetta', sans-serif;
   font-size: 30pt;
   margin: 5px; 
   padding: 10px; 
   text-align: center;
 }
 .moreinfo {
   display: flex; 
   flex-direction: column;
 }
 .included { 
   font-family: 'Lexend Zetta', sans-serif;
   color: teal;
   text-align: center;
   margin: 10px; 
   padding: 10px; 
   font-size: 2em; 
 }
 .moon {
  font-family: 'Lexend Zetta', sans-serif;
  margin: 10px; 
  text-align: center;
  color: teal;
  font-size: 2em; 
  padding: 20px; 
 }
 .book {
   font-family: 'Lexend Zetta', sans-serif;
   text-align: center;
   font-size: 3em;
   padding: 30px; 
   margin: 20px;
   text-decoration-color: #FFC65C; 
 }
 .booking {
   color: #FFC65C; 
   text-decoration: none;
   text-transform: uppercase; 
 }
 a:hover {
   color: #FF00FF;
 }
 .infinity {
   width: 400px; 
 }
 .end {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15pt; 
 }
  /* for tablet size screen */
 @media only screen and (min-width: 600px) {
#nav { 
    display: grid; 
    background-color: #FFC65C;
    font-family: 'Lexend Zetta', sans-serif;
    color: teal; 
    border-color: teal;
    border: solid; 
    list-style-type: none;
    width: 100%;
    height: 20px; 
 }
.movie {
   width: 700px;
   height: 400px; 
   display: flex;
   flex-direction: row; 
   justify-content: center;
   margin: auto;
 }
 h1 {
  font-family:'Lexend Zetta', sans-serif;
  text-align: center;
  color: teal; 
  margin: 10px;
  padding-bottom: 1em;
}
 .services {
   text-align: center;
   padding: 30px;
   border: none;
   list-style-type: none;
   font-size: 30pt; 
   margin: 20px; 
 }
 .boxes {
   border: none;
 }
 .container {
   display: flex;
   flex-wrap: wrap; 
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   padding: 30px; 
   margin: 20px; 
 }
 .sail {
   width: 400px;
   height: 250px;  
 }
 .beach {
   width: 400px;
   height: 250px; 
 }
 .moreinfo {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   margin: 10px; 
 }
 .included {
   grid-column: 1 / 2;
   font-family: 'Lexend Zetta', sans-serif;
   color: teal;
   text-align: center;
   margin: 10px; 
}
 .fullday {
   grid-column: 2 / 3;
}
.moon {
  grid-column: 1 / -1;
}
 .table {
   display: grid;
   margin: 20px;
   font-size: 2em; 
}
 a:hover {
   color: teal;
}
footer {
  display: grid; 
}
}
 /* for desktop size screen */
 @media only screen and (min-width: 1100px) {
main {
  display: grid; 
}
h1 {
  font-family:'Lexend Zetta', sans-serif;
  text-align: center;
  color: teal; 
  margin: 10px;
  padding-bottom: 1em;
}
 .table {
   display: grid;
}
 footer {
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr; 
}
 a:hover {
   color: teal;
}
.moreinfo {
  display: grid; 
  grid-template-columns: auto auto auto;
}
 .included {
  grid-column: 1 / 2;
  font-family: 'Lexend Zetta', sans-serif;
  color: teal;
  text-align: center;
}
.fullday {
  grid-column: 2 / 3; 
}
.moon {
  grid-column: 3 / 4; 
}
.container {
  display: grid; 
  grid-template-columns: auto auto auto;
  grid-gap: 20px; 
}
}