.title {
    color: green;
}
h1,h2 {
    font-family:Georgia
}
div {
    text-align: center;
  }
p {
    height: 25px;
}
img {
    float:left
}
#link {
    text-decoration: underline;
}
div .pad {
    padding-left: 50px;
    padding-right: 50px
}
#left {
    float:left
}
.align {
    float:left
}
a:hover, a:active {
    text-decoration: underline;
}